.coiso{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 1s;
}
.coiso-active{
    visibility: visible;
    opacity: 1;
}

.obra1{
    width: 745px;
    height: 570px;
    background-image: url(img/obra1.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
    
#sair {
    text-decoration: none;
    border: none;
    height: 40px;
    background: none;
    margin-top: 10px;
    margin-right: 5px;
}

.obra2 {
    width: 745px;
    height: 570px;
    background-image: url(img/obra2.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.obra3 {
    width: 745px;
    height: 570px;
    background-image: url(img/obra3.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.obra4 {
    width: 745px;
    height: 570px;
    background-image: url(img/obra4.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.obra5 {
    width: 745px;
    height: 570px;
    background-image: url(img/obra5.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.obra6 {
    width: 745px;
    height: 570px;
    background-image: url(img/obra6.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.obra7 {
    width: 745px;
    height: 570px;
    background-image: url(img/obra7.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.obra8 {
    width: 745px;
    height: 570px;
    background-image: url(img/obra8.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.obra9 {
    width: 745px;
    height: 570px;
    background-image: url(img/obra9.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.obra10 {
    width: 745px;
    height: 570px;
    background-image: url(img/obra10.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.obra11 {
    width: 745px;
    height: 570px;
    background-image: url(img/obra11.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

